In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 36 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 46.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=a76216cdd1657a5f74fd9eb23634a2749640e23652d45cfb0a1530e868b60673
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName("data-clean") \
    .getOrCreate()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
calendar = 'drive/MyDrive/Colab\ Notebooks/data/Calendar_cleaned.csv'
path = '/content/drive/MyDrive/Colab Notebooks/data/'

In [ ]:
df_calendar = spark.read.option("header",True).csv(calendar)
df_calendar.describe()

DataFrame[summary: string, listing_id: string, date: string, available: string, price: string]

In [ ]:
rdd_calendar = df_calendar.rdd

In [ ]:
rdd_whole = rdd_calendar.map(lambda x:(x.listing_id,x))

In [ ]:
type(rdd_whole.take(10)[0][1].available)

str

In [ ]:
def countListing(r):
  return (r[0],1)
def countOccupied(r):
  if r[1].available == 'False':
    return (r[0],(1,1))
  else:
    return (r[0],(0,1))

In [ ]:
rddCount = rdd_whole.map(countListing)

In [ ]:
rddCountOccuipied = rdd_whole.map(countOccupied)

In [ ]:
counts = rddCount.reduceByKey(lambda x,y:x+y)

In [ ]:
from pyspark import Row
occupied = rddCountOccuipied.reduceByKey(lambda x,y:(x[0]+y[0],x[1]+y[1])).mapValues(lambda x:(x[0]/x[1])*100).map(lambda x:Row(listing=x[0],occupancy_rate=x[1]))

In [ ]:
occupied.collect()

[Row(listing='897387', occupancy_rate=0.0),
 Row(listing='898999', occupancy_rate=100.0),
 Row(listing='8571561', occupancy_rate=83.83561643835617),
 Row(listing='8461058', occupancy_rate=100.0),
 Row(listing='5310744', occupancy_rate=14.520547945205479),
 Row(listing='5195552', occupancy_rate=14.520547945205479),
 Row(listing='5163979', occupancy_rate=11.78082191780822),
 Row(listing='3020807', occupancy_rate=100.0),
 Row(listing='2434101', occupancy_rate=9.315068493150685),
 Row(listing='4244433', occupancy_rate=81.64383561643835),
 Row(listing='4512376', occupancy_rate=100.0),
 Row(listing='6068724', occupancy_rate=73.97260273972603),
 Row(listing='2299737', occupancy_rate=20.82191780821918),
 Row(listing='2210236', occupancy_rate=78.63013698630137),
 Row(listing='934398', occupancy_rate=100.0),
 Row(listing='941603', occupancy_rate=20.0),
 Row(listing='8461067', occupancy_rate=100.0),
 Row(listing='8508270', occupancy_rate=81.91780821917808),
 Row(listing='8510573', occupancy_rate=77.26027397260275),
 Row(listing='8617383', occupancy_rate=89.86301369863014),
 Row(listing='7074686', occupancy_rate=0.273972602739726),
 Row(listing='7165126', occupancy_rate=73.97260273972603),
 Row(listing='7736818', occupancy_rate=99.17808219178083),
 Row(listing='7602836', occupancy_rate=0.273972602739726),
 Row(listing='7665422', occupancy_rate=8.21917808219178),
 Row(listing='7958008', occupancy_rate=97.26027397260275),
 Row(listing='5776586', occupancy_rate=83.83561643835617),
 Row(listing='5887408', occupancy_rate=90.13698630136986),
 Row(listing='5729730', occupancy_rate=88.21917808219179),
 Row(listing='5971518', occupancy_rate=75.61643835616438),
 Row(listing='6362810', occupancy_rate=56.986301369863014),
 Row(listing='6616025', occupancy_rate=100.0),
 Row(listing='6677630', occupancy_rate=53.6986301369863),
 Row(listing='6828592', occupancy_rate=1.36986301369863),
 Row(listing='6976076', occupancy_rate=81.0958904109589),
 Row(listing='6939281', occupancy_rate=15.068493150684931),
 Row(listing='6590094', occupancy_rate=80.54794520547945),
 Row(listing='4615923', occupancy_rate=100.0),
 Row(listing='4624297', occupancy_rate=55.61643835616439),
 Row(listing='4624812', occupancy_rate=100.0),
 Row(listing='4802208', occupancy_rate=76.71232876712328),
 Row(listing='3272050', occupancy_rate=81.36986301369863),
 Row(listing='3293665', occupancy_rate=6.301369863013699),
 Row(listing='3380350', occupancy_rate=11.78082191780822),
 Row(listing='3425736', occupancy_rate=49.31506849315068),
 Row(listing='3669962', occupancy_rate=14.794520547945206),
 Row(listing='3776830', occupancy_rate=64.93150684931507),
 Row(listing='9514731', occupancy_rate=0.547945205479452),
 Row(listing='1957332', occupancy_rate=39.726027397260275),
 Row(listing='8835165', occupancy_rate=87.12328767123287),
 Row(listing='8977284', occupancy_rate=91.23287671232877),
 Row(listing='9080393', occupancy_rate=62.465753424657535),
 Row(listing='9203848', occupancy_rate=2.73972602739726),
 Row(listing='8925579', occupancy_rate=33.42465753424658),
 Row(listing='8572187', occupancy_rate=27.397260273972602),
 Row(listing='8380988', occupancy_rate=100.0),
 Row(listing='8410964', occupancy_rate=6.027397260273973),
 Row(listing='8528330', occupancy_rate=23.013698630136986),
 Row(listing='8740711', occupancy_rate=87.3972602739726),
 Row(listing='8873423', occupancy_rate=11.78082191780822),
 Row(listing='9116265', occupancy_rate=89.31506849315069),
 Row(listing='3947896', occupancy_rate=83.56164383561644),
 Row(listing='3989395', occupancy_rate=12.054794520547945),
 Row(listing='3883557', occupancy_rate=66.02739726027397),
 Row(listing='3042637', occupancy_rate=89.86301369863014),
 Row(listing='2695073', occupancy_rate=65.20547945205479),
 Row(listing='3273191', occupancy_rate=67.94520547945206),
 Row(listing='2694251', occupancy_rate=97.53424657534246),
 Row(listing='4832827', occupancy_rate=100.0),
 Row(listing='4464899', occupancy_rate=47.397260273972606),
 Row(listing='4379780', occupancy_rate=49.04109589041096),
 Row(listing='4388789', occupancy_rate=100.0),
 Row(listing='4129704', occupancy_rate=62.465753424657535),
 Row(listing='4259231', occupancy_rate=76.71232876712328),
 Row(listing='5185223', occupancy_rate=17.80821917808219),
 Row(listing='5560772', occupancy_rate=29.589041095890412),
 Row(listing='5623791', occupancy_rate=98.08219178082192),
 Row(listing='5733723', occupancy_rate=5.47945205479452),
 Row(listing='5893273', occupancy_rate=3.8356164383561646),
 Row(listing='5981263', occupancy_rate=19.726027397260275),
 Row(listing='5185720', occupancy_rate=51.23287671232877),
 Row(listing='5622326', occupancy_rate=37.534246575342465),
 Row(listing='5387039', occupancy_rate=41.917808219178085),
 Row(listing='5775203', occupancy_rate=78.35616438356165),
 Row(listing='6660903', occupancy_rate=83.28767123287672),
 Row(listing='6835793', occupancy_rate=78.63013698630137),
 Row(listing='6835883', occupancy_rate=84.38356164383562),
 Row(listing='6837428', occupancy_rate=79.72602739726027),
 Row(listing='6485196', occupancy_rate=3.0136986301369864),
 Row(listing='9438445', occupancy_rate=12.32876712328767),
 Row(listing='9415438', occupancy_rate=12.32876712328767),
 Row(listing='9553298', occupancy_rate=25.753424657534246),
 Row(listing='9577904', occupancy_rate=80.0),
 Row(listing='9121335', occupancy_rate=100.0),
 Row(listing='9177970', occupancy_rate=11.232876712328768),
 Row(listing='9220063', occupancy_rate=100.0),
 Row(listing='8727505', occupancy_rate=100.0),
 Row(listing='8568908', occupancy_rate=100.0),
 Row(listing='8673910', occupancy_rate=17.80821917808219),
 Row(listing='8723030', occupancy_rate=100.0),
 Row(listing='8993906', occupancy_rate=21.91780821917808),
 Row(listing='8872840', occupancy_rate=50.95890410958904),
 Row(listing='8940421', occupancy_rate=100.0),
 Row(listing='9066462', occupancy_rate=36.986301369863014),
 Row(listing='9097988', occupancy_rate=76.43835616438356),
 Row(listing='2285490', occupancy_rate=75.89041095890411),
 Row(listing='1138483', occupancy_rate=76.16438356164383),
 Row(listing='1240947', occupancy_rate=12.876712328767123),
 Row(listing='1521901', occupancy_rate=97.26027397260275),
 Row(listing='915054', occupancy_rate=6.8493150684931505),
 Row(listing='1164589', occupancy_rate=12.602739726027398),
 Row(listing='1869971', occupancy_rate=18.904109589041095),
 Row(listing='1723640', occupancy_rate=100.0),
 Row(listing='1469185', occupancy_rate=48.21917808219178),
 Row(listing='1051911', occupancy_rate=1.36986301369863),
 Row(listing='1139616', occupancy_rate=22.73972602739726),
 Row(listing='1260530', occupancy_rate=19.17808219178082),
 Row(listing='2012777', occupancy_rate=63.83561643835617),
 Row(listing='1131054', occupancy_rate=27.945205479452056),
 Row(listing='1317388', occupancy_rate=77.26027397260275),
 Row(listing='2160836', occupancy_rate=75.61643835616438),
 Row(listing='1014544', occupancy_rate=75.61643835616438),
 Row(listing='1134012', occupancy_rate=14.246575342465754),
 Row(listing='1584760', occupancy_rate=24.383561643835616),
 Row(listing='1664928', occupancy_rate=67.94520547945206),
 Row(listing='1713966', occupancy_rate=100.0),
 Row(listing='1866006', occupancy_rate=7.397260273972603),
 Row(listing='1886610', occupancy_rate=9.04109589041096),
 Row(listing='1966675', occupancy_rate=90.13698630136986),
 Row(listing='9563497', occupancy_rate=36.986301369863014),
 Row(listing='9616020', occupancy_rate=100.0),
 Row(listing='9315724', occupancy_rate=32.602739726027394),
 Row(listing='9322790', occupancy_rate=100.0),
 Row(listing='9532775', occupancy_rate=85.75342465753425),
 Row(listing='9497746', occupancy_rate=100.0),
 Row(listing='3443845', occupancy_rate=60.82191780821918),
 Row(listing='2392859', occupancy_rate=10.41095890410959),
 Row(listing='2406396', occupancy_rate=65.20547945205479),
 Row(listing='2561006', occupancy_rate=8.21917808219178),
 Row(listing='2811001', occupancy_rate=100.0),
 Row(listing='2838442', occupancy_rate=79.72602739726027),
 Row(listing='3220450', occupancy_rate=29.315068493150687),
 Row(listing='3305263', occupancy_rate=61.369863013698634),
 Row(listing='3425823', occupancy_rate=96.98630136986301),
 Row(listing='3518136', occupancy_rate=87.67123287671232),
 Row(listing='3585821', occupancy_rate=87.94520547945206),
 Row(listing='3820441', occupancy_rate=27.123287671232877),
 Row(listing='3980480', occupancy_rate=75.61643835616438),
 Row(listing='4025310', occupancy_rate=61.64383561643836),
 Row(listing='5836800', occupancy_rate=6.027397260273973),
 Row(listing='5243185', occupancy_rate=58.63013698630137),
 Row(listing='5581984', occupancy_rate=5.205479452054795),
 Row(listing='5194865', occupancy_rate=100.0),
 Row(listing='4942763', occupancy_rate=9.58904109589041),
 Row(listing='5512685', occupancy_rate=63.83561643835617),
 Row(listing='5698406', occupancy_rate=64.93150684931507),
 Row(listing='5196072', occupancy_rate=30.136986301369863),
 Row(listing='5357073', occupancy_rate=12.602739726027398),
 Row(listing='5526079', occupancy_rate=86.57534246575342),
 Row(listing='5751283', occupancy_rate=48.49315068493151),
 Row(listing='4883406', occupancy_rate=21.91780821917808),
 Row(listing='5128349', occupancy_rate=53.42465753424658),
 Row(listing='7027195', occupancy_rate=14.246575342465754),
 Row(listing='6426355', occupancy_rate=33.97260273972603),
 Row(listing='6437651', occupancy_rate=38.35616438356164),
 Row(listing='6092940', occupancy_rate=8.21917808219178),
 Row(listing='6159881', occupancy_rate=7.397260273972603),
 Row(listing='6276355', occupancy_rate=63.287671232876704),
 Row(listing='6361929', occupancy_rate=100.0),
 Row(listing='6170899', occupancy_rate=31.506849315068493),
 Row(listing='6381575', occupancy_rate=32.32876712328767),
 Row(listing='6626617', occupancy_rate=100.0),
 Row(listing='6661036', occupancy_rate=66.57534246575342),
 Row(listing='6925526', occupancy_rate=31.232876712328768),
 Row(listing='6514913', occupancy_rate=34.794520547945204),
 Row(listing='6485882', occupancy_rate=9.315068493150685),
 Row(listing='4448723', occupancy_rate=70.95890410958904),
 Row(listing='4465427', occupancy_rate=47.671232876712324),
 Row(listing='4521519', occupancy_rate=22.465753424657535),
 Row(listing='4673265', occupancy_rate=6.027397260273973),
 Row(listing='4711731', occupancy_rate=6.301369863013699),
 Row(listing='4712306', occupancy_rate=3.0136986301369864),
 Row(listing='4424256', occupancy_rate=23.013698630136986),
 Row(listing='4755217', occupancy_rate=94.52054794520548),
 Row(listing='4145041', occupancy_rate=36.43835616438356),
 Row(listing='4438835', occupancy_rate=72.05479452054794),
 Row(listing='4615956', occupancy_rate=100.0),
 Row(listing='4674109', occupancy_rate=17.80821917808219),
 Row(listing='4672147', occupancy_rate=4.931506849315069),
 Row(listing='4499095', occupancy_rate=33.97260273972603),
 Row(listing='9240361', occupancy_rate=93.97260273972603),
 Row(listing='9483486', occupancy_rate=100.0),
 Row(listing='9617244', occupancy_rate=99.72602739726028),
 Row(listing='9376988', occupancy_rate=80.54794520547945),
 Row(listing='9494426', occupancy_rate=0.273972602739726),
 Row(listing='9323120', occupancy_rate=71.78082191780823),
 Row(listing='9533906', occupancy_rate=100.0),
 Row(listing='9634655', occupancy_rate=14.246575342465754),
 Row(listing='9500303', occupancy_rate=100.0),
 Row(listing='9418136', occupancy_rate=100.0),
 Row(listing='2034156', occupancy_rate=100.0),
 Row(listing='2058631', occupancy_rate=12.602739726027398),
 Row(listing='2099368', occupancy_rate=20.273972602739725),
 Row(listing='2256516', occupancy_rate=74.52054794520548),
 Row(listing='2000929', occupancy_rate=100.0),
 Row(listing='1747259', occupancy_rate=7.671232876712329),
 Row(listing='2112330', occupancy_rate=14.520547945205479),
 Row(listing='2328016', occupancy_rate=99.17808219178083),
 Row(listing='1500360', occupancy_rate=46.3013698630137),
 Row(listing='2077065', occupancy_rate=43.013698630136986),
 Row(listing='944360', occupancy_rate=20.54794520547945),
 Row(listing='1016415', occupancy_rate=79.17808219178082),
 Row(listing='1104499', occupancy_rate=86.84931506849315),
 Row(listing='1253710', occupancy_rate=100.0),
 Row(listing='1656999', occupancy_rate=90.95890410958904),
 Row(listing='1857494', occupancy_rate=14.794520547945206),
 Row(listing='1989968', occupancy_rate=99.72602739726028),
 Row(listing='1807553', occupancy_rate=92.32876712328768),
 Row(listing='1774193', occupancy_rate=31.506849315068493),
 Row(listing='1575523', occupancy_rate=0.273972602739726),
 Row(listing='1927075', occupancy_rate=100.0),
 Row(listing='2095386', occupancy_rate=64.93150684931507),
 Row(listing='1945296', occupancy_rate=100.0),
 Row(listing='2004675', occupancy_rate=10.41095890410959),
 Row(listing='1770560', occupancy_rate=99.72602739726028),
 Row(listing='8740611', occupancy_rate=27.945205479452056),
 Row(listing='9064795', occupancy_rate=29.315068493150687),
 Row(listing='8477051', occupancy_rate=54.794520547945204),
 Row(listing='8616529', occupancy_rate=100.0),
 Row(listing='9031586', occupancy_rate=0.547945205479452),
 Row(listing='8745633', occupancy_rate=100.0),
 Row(listing='9202615', occupancy_rate=100.0),
 Row(listing='8974359', occupancy_rate=100.0),
 Row(listing='9094901', occupancy_rate=100.0),
 Row(listing='9159885', occupancy_rate=100.0),
 Row(listing='8374962', occupancy_rate=100.0),
 Row(listing='8395485', occupancy_rate=14.520547945205479),
 Row(listing='8396994', occupancy_rate=100.0),
 Row(listing='8408379', occupancy_rate=100.0),
 Row(listing='8461086', occupancy_rate=100.0),
 Row(listing='3044911', occupancy_rate=76.98630136986301),
 Row(listing='2637282', occupancy_rate=100.0),
 Row(listing='3775803', occupancy_rate=100.0),
 Row(listing='2694037', occupancy_rate=53.15068493150685),
 Row(listing='2347070', occupancy_rate=100.0),
 Row(listing='3284811', occupancy_rate=100.0),
 Row(listing='3208831', occupancy_rate=61.64383561643836),
 Row(listing='2920687', occupancy_rate=51.50684931506849),
 Row(listing='2786954', occupancy_rate=48.21917808219178),
 Row(listing='2832968', occupancy_rate=86.02739726027397),
 Row(listing='2890011', occupancy_rate=85.75342465753425),
 Row(listing='3817911', occupancy_rate=26.301369863013697),
 Row(listing='3829034', occupancy_rate=53.15068493150685),
 Row(listing='3776027', occupancy_rate=100.0),
 Row(listing='3872366', occupancy_rate=100.0),
 Row(listing='3499364', occupancy_rate=34.794520547945204),
 Row(listing='2511345', occupancy_rate=4.10958904109589),
 Row(listing='3793933', occupancy_rate=100.0),
 Row(listing='2749926', occupancy_rate=64.38356164383562),
 Row(listing='2965688', occupancy_rate=99.72602739726028),
 Row(listing='2827438', occupancy_rate=97.53424657534246),
 Row(listing='8466264', occupancy_rate=100.0),
 Row(listing='8471427', occupancy_rate=100.0),
 Row(listing='8475314', occupancy_rate=100.0),
 Row(listing='8476652', occupancy_rate=100.0),
 Row(listing='8482455', occupancy_rate=100.0),
 Row(listing='8485278', occupancy_rate=100.0),
 Row(listing='8489331', occupancy_rate=100.0),
 Row(listing='8510922', occupancy_rate=76.16438356164383),
 Row(listing='8512388', occupancy_rate=100.0),
 Row(listing='8524383', occupancy_rate=0.273972602739726),
 Row(listing='8526065', occupancy_rate=100.0),
 Row(listing='8539193', occupancy_rate=100.0),
 Row(listing='8541104', occupancy_rate=100.0),
 Row(listing='8543274', occupancy_rate=100.0),
 Row(listing='8555177', occupancy_rate=100.0),
 Row(listing='8555600', occupancy_rate=100.0),
 Row(listing='8556638', occupancy_rate=100.0),
 Row(listing='8558507', occupancy_rate=51.50684931506849),
 Row(listing='8571446', occupancy_rate=100.0),
 Row(listing='8573637', occupancy_rate=100.0),
 Row(listing='8583746', occupancy_rate=100.0),
 Row(listing='8599263', occupancy_rate=100.0),
 Row(listing='8608128', occupancy_rate=100.0),
 Row(listing='8615628', occupancy_rate=100.0),
 Row(listing='8616548', occupancy_rate=100.0),
 Row(listing='8632412', occupancy_rate=100.0),
 Row(listing='8640427', occupancy_rate=100.0),
 Row(listing='8676019', occupancy_rate=100.0),
 Row(listing='8677408', occupancy_rate=20.82191780821918),
 Row(listing='8688488', occupancy_rate=100.0),
 Row(listing='8707215', occupancy_rate=100.0),
 Row(listing='8708573', occupancy_rate=100.0),
 Row(listing='8719778', occupancy_rate=100.0),
 Row(listing='8720494', occupancy_rate=100.0),
 Row(listing='8740417', occupancy_rate=100.0),
 Row(listing='8740570', occupancy_rate=100.0),
 Row(listing='8740629', occupancy_rate=100.0),
 Row(listing='8764978', occupancy_rate=100.0),
 Row(listing='8783388', occupancy_rate=100.0),
 Row(listing='4597488', occupancy_rate=88.76712328767124),
 Row(listing='4721408', occupancy_rate=100.0),
 Row(listing='4380558', occupancy_rate=49.86301369863014),
 Row(listing='4252825', occupancy_rate=81.91780821917808),
 Row(listing='4397025', occupancy_rate=100.0),
 Row(listing='4680675', occupancy_rate=100.0),
 Row(listing='4709805', occupancy_rate=10.684931506849315),
 Row(listing='4787478', occupancy_rate=90.41095890410958),
 Row(listing='4221170', occupancy_rate=50.68493150684932),
 Row(listing='4596819', occupancy_rate=96.98630136986301),
 Row(listing='4236007', occupancy_rate=37.80821917808219),
 Row(listing='4598215', occupancy_rate=92.32876712328768),
 Row(listing='4771018', occupancy_rate=37.534246575342465),
 Row(listing='4766592', occupancy_rate=6.301369863013699),
 Row(listing='4451610', occupancy_rate=26.575342465753426),
 Row(listing='4200468', occupancy_rate=79.72602739726027),
 Row(listing='4639485', occupancy_rate=89.31506849315069),
 Row(listing='4863206', occupancy_rate=73.15068493150685),
 Row(listing='4440507', occupancy_rate=49.86301369863014),
 Row(listing='4167238', occupancy_rate=50.95890410958904),
 Row(listing='4164487', occupancy_rate=33.15068493150685),
 Row(listing='4857871', occupancy_rate=0.547945205479452),
 Row(listing='4498441', occupancy_rate=21.36986301369863),
 Row(listing='4768694', occupancy_rate=64.93150684931507),
 Row(listing='4617380', occupancy_rate=100.0),
 Row(listing='4839873', occupancy_rate=100.0),
 Row(listing='2999833', occupancy_rate=78.08219178082192),
 Row(listing='3407081', occupancy_rate=86.3013698630137),
 Row(listing='2352963', occupancy_rate=100.0),
 Row(listing='2950400', occupancy_rate=31.780821917808222),
 Row(listing='2796779', occupancy_rate=56.43835616438356),
 Row(listing='2883064', occupancy_rate=73.15068493150685),
 Row(listing='2920284', occupancy_rate=100.0),
 Row(listing='2952191', occupancy_rate=34.24657534246575),
 Row(listing='3187713', occupancy_rate=100.0),
 Row(listing='3723459', occupancy_rate=18.904109589041095),
 Row(listing='4101560', occupancy_rate=100.0),
 Row(listing='2928091', occupancy_rate=100.0),
 Row(listing='2778276', occupancy_rate=69.58904109589041),
 Row(listing='3126723', occupancy_rate=81.64383561643835),
 Row(listing='3337672', occupancy_rate=81.0958904109589),
 Row(listing='2637688', occupancy_rate=100.0),
 Row(listing='2710334', occupancy_rate=100.0),
 Row(listing='2794412', occupancy_rate=100.0),
 Row(listing='2803416', occupancy_rate=51.50684931506849),
 Row(listing='3544455', occupancy_rate=100.0),
 Row(listing='2484208', occupancy_rate=51.50684931506849),
 Row(listing='2484312', occupancy_rate=1.9178082191780823),
 Row(listing='2704122', occupancy_rate=100.0),
 Row(listing='3258803', occupancy_rate=100.0),
 Row(listing='3962733', occupancy_rate=100.0),
 Row(listing='2387898', occupancy_rate=100.0),
 Row(listing='2397299', occupancy_rate=100.0),
 Row(listing='2398351', occupancy_rate=100.0),
 Row(listing='2401268', occupancy_rate=100.0),
 Row(listing='2406577', occupancy_rate=100.0),
 Row(listing='2420697', occupancy_rate=100.0),
 Row(listing='2438152', occupancy_rate=0.273972602739726),
 Row(listing='2586076', occupancy_rate=100.0),
 Row(listing='2586615', occupancy_rate=0.273972602739726),
 Row(listing='2593217', occupancy_rate=100.0),
 Row(listing='2638223', occupancy_rate=0.273972602739726),

In [ ]:
dfo = occupied.toDF()

In [ ]:
dfo.repartition(1).write.option("header",True).csv("occupancy_rate.csv")

In [ ]:
s_df = rdd_calendar.toDF()

In [ ]:
from pyspark.sql.functions import to_date,split
dfsplit = s_df.withColumn('datearray',split(s_df.date,'/'))
dfformat = dfsplit.withColumn('year',dfsplit.datearray[2])
dfformat = dfformat.withColumn('mm',dfsplit.datearray[1])
dfformat = dfformat.withColumn('dd',dfsplit.datearray[0])

In [ ]:
dfformat = dfformat.drop('date')
dfformat = dfformat.drop('datearray')

In [ ]:
from pyspark.sql.functions import concat_ws
dfdata = dfformat.withColumn('datestring',concat_ws('-',dfformat.year,dfformat.mm,dfformat.dd))

In [ ]:
dfdata = dfdata.withColumn('date',to_date(dfdata.datestring))

In [ ]:
dfdata = dfdata.drop('year')
dfdata = dfdata.drop('mm')
dfdata = dfdata.drop('dd')
dfdata = dfdata.drop('datestring')

In [ ]:
dfdata = dfdata.sort('date')

In [ ]:
dfdata.show(10)

+----------+---------+-----+----------+
|listing_id|available|price|      date|
+----------+---------+-----+----------+
|  30702338|    False|   80|2022-03-09|
|  30770595|    False|  500|2022-03-09|
|  30702414|    False|   40|2022-03-09|
|  30728278|    False|   60|2022-03-09|
|  30712148|    False| 4500|2022-03-09|
|  30595509|    False|   70|2022-03-09|
|  30716811|    False|  235|2022-03-09|
|  30519155|    False|   45|2022-03-09|
|  30719520|    False|   65|2022-03-09|
|  30539856|    False|   49|2022-03-09|
+----------+---------+-----+----------+
only showing top 10 rows

In [ ]:
dfdata.repartition(1).write.option("header",True).csv("listing_sort_2.csv")

In [ ]:
p_df = s_df.toPandas()

In [ ]:
import pandas as pd
compiledf = pd.read_csv('/content/listing_sort_2.csv/part-00000-7f1076fa-69b3-4b2a-b393-ae2afa2e122d-c000.csv',
    index_col='date',
    parse_dates=['date'])

In [ ]:
compiledf = compiledf.to_period()

In [ ]:
compiledf.head()

            listing_id  available  price
date
2022-03-09      897387       True  130.0
2022-03-09     8571561      False  230.0
2022-03-09     8940979      False  230.0
2022-03-09     8193171      False  250.0
2022-03-09     5310744      False  100.0

In [ ]:
import numpy as np
compiledf['time'] = np.arange(len(compiledf.index))

In [ ]:
compiledf = compiledf.fillna(0)

In [ ]:
compiledf.head(10)

            listing_id  available  price  time
date
2022-03-09      897387       True  130.0     0
2022-03-09     8571561      False  230.0     1
2022-03-09     8940979      False  230.0     2
2022-03-09     8193171      False  250.0     3
2022-03-09     5310744      False  100.0     4
2022-03-09     5539544      False   70.0     5
2022-03-09     5572652      False   50.0     6
2022-03-09     5195552      False   70.0     7
2022-03-09     5163979      False  110.0     8
2022-03-09     5014943      False  120.0     9

In [ ]:
from sklearn.linear_model import LinearRegression
X = compiledf.loc[:, ['time']]
y = compiledf.loc[:, 'price']
model = LinearRegression()
model.fit(X, y)
y_pred_1 = pd.Series(model.predict(X), index=X.index)

In [ ]:
y_pred_1

date
2022-03-09    255.885537
2022-03-09    255.885538
2022-03-09    255.885538
2022-03-09    255.885539
2022-03-09    255.885539
                 ...
2023-03-30    259.948258
2023-03-30    259.948259
2023-03-30    259.948259
2023-03-30    259.948260
2023-03-30    259.948260
Length: 7625189, dtype: float64

In [ ]:
compiledf.head()

            listing_id  available  price  time
date
2022-03-09      897387       True  130.0     0
2022-03-09     8571561      False  230.0     1
2022-03-09     8940979      False  230.0     2
2022-03-09     8193171      False  250.0     3
2022-03-09     5310744      False  100.0     4

In [ ]:
compiledf['lag'] = compiledf['price'].shift(7)

In [ ]:
compiledf = compiledf.dropna()

In [ ]:
compiledf.head()

            listing_id  available  price  time    lag
date
2022-03-09     5195552      False   70.0     7  130.0
2022-03-09     5163979      False  110.0     8  230.0
2022-03-09     5014943      False  120.0     9  230.0
2022-03-09     3265015      False   83.0    10  250.0
2022-03-09     4483704      False  185.0    11  100.0

In [ ]:
from sklearn.linear_model import LinearRegression
X = compiledf.loc[:, ['lag']]
y = compiledf.loc[:, 'price']  # create the target
y, X = y.align(X, join='inner')  # drop corresponding values in target

model = LinearRegression()
model.fit(X, y)

y_pred_2 = pd.Series(model.predict(X), index=X.index)

In [ ]:
y_pred_2

date
2022-03-09    257.785291
2022-03-09    257.888253
2022-03-09    257.888253
2022-03-09    257.908845
2022-03-09    257.754403
                 ...
2023-03-30    258.475135
2023-03-30    257.950030
2023-03-30    258.423654
2023-03-30    257.790439
2023-03-30    257.744106
Length: 7625182, dtype: float64

In [ ]:
compiledf.head()

            listing_id  available  price  time    lag
date
2022-03-09      897387       True  130.0     0    0.0
2022-03-09     8571561      False  230.0     1  130.0
2022-03-09     8940979      False  230.0     2  230.0
2022-03-09     8193171      False  250.0     3  230.0
2022-03-09     5310744      False  100.0     4  250.0

In [ ]:
rollingdf = compiledf.drop('listing_id',axis=1)

In [ ]:
rollingdf.head()

            available  price  time    lag
date
2022-03-09       True  130.0     0    0.0
2022-03-09      False  230.0     1  130.0
2022-03-09      False  230.0     2  230.0
2022-03-09      False  250.0     3  230.0
2022-03-09      False  100.0     4  250.0

In [ ]:
moving_average = compiledf.rolling(
    window=7,       # 365-day window
    center=True,      # puts the average at the center of the window
    min_periods=1,  # choose about half the window size
).mean()

In [ ]:
compiledf.take(10)

ValueError: ignored

In [ ]:
moving_average.take(10)

ValueError: ignored

In [ ]:
y_pred_1.to_csv('y_pred_1.csv')

In [ ]:
y_pred_2.to_csv('y_pred_2.csv')